[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pylint = "*"
ansible = "==10.0.1"
molecule = "*"
molecule-docker = "*"
docker = "*"
ansible-lint = "*"

[packages]
cryptography = "*"

[requires]
python_version = "3.12"
