[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pylint = "*"
molecule = "*"
molecule-docker = "*"
molecule-goss = "*"
ansible-lint = "*"
ansible-core = "*"

[packages]
cryptography = "*"

[requires]
python_version = "3.9"
