[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
docker = "*"
ansible-lint = "*"

[packages]
cryptography = "*"
ansible = "==10.7.0"
ansible-core = "*"
molecule = "*"
molecule-docker = "*"
requests = "*"

[requires]
python_version = "3.12"
