[Service]
Type=simple
User={{ solr_user | default("solr") }}
Group={{ solr_group | default("solr") }}
EnvironmentFile=-/etc/default/solr.in.sh
Environment="JAVA_HOME={{ solr_java_home | default('/usr/lib/jvm/java-17-openjdk') }}"
Environment="PATH={{ solr_java_home | default('/usr/lib/jvm/java-17-openjdk') }}/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin"

ExecStart={{ solr_installation_dir | default('/opt/solr') }}/bin/solr start -f
ExecStop={{ solr_installation_dir | default('/opt/solr') }}/bin/solr stop
Restart=on-failure
